In [2]:
#import required packages 
import pandas as pd 
import matplotlib.pyplot as plt 
import numpy as np

rawdata = pd.ExcelFile('C:/Users/David/Desktop/UCD/Assignment/Data/Lookback2_mkt.xlsx') #import data from .xlsx
auctions_to = pd.read_excel(rawdata, 'auctions_to')#create a pandas data frame from specific sheet within .xlsx file

In [3]:
print(auctions_to.head()) #check the data format

  auction             timestamp  price_eur  price_gbp  ni_vols  ni_netpos  \
0     DAM  2020-12-31T23:00:00Z      55.09     49.595    739.2     -126.3
1     DAM  2021-01-01T00:00:00Z      54.02     48.632    730.7     -150.2
2     DAM  2021-01-01T01:00:00Z      53.00     47.713    752.6     -180.1
3     DAM  2021-01-01T02:00:00Z      51.24     46.129    704.9     -184.2
4     DAM  2021-01-01T03:00:00Z      48.13     43.329    665.3     -154.6

   roi_vols  roi_netpos DeliveryDate  DeliveryHour  DeliveryInterval  \
0    3727.3       126.3   2021-01-01             1                 1
1    3501.8       150.2   2021-01-01             2                 1
2    3423.8       180.1   2021-01-01             3                 1
3    3189.3       184.2   2021-01-01             4                 1
4    2990.3       154.6   2021-01-01             5                 1

   semo_vols  doy  dow  week  dom      Month  year
0     4466.5    1    5     1    1 2021-01-01  2021
1     4232.5    1    5     1    1 2021-01-01  2021
2     4176.4    1    5     1    1 2021-01-01  2021
3     3894.2    1    5     1    1 2021-01-01  2021
4     3655.6    1    5     1    1 2021-01-01  2021

In [4]:
# Print the shape of auctions_to
print(auctions_to.shape)

(52353, 18)

In [5]:
# Print information about auctions_to
print(auctions_to.info()) # non-null count demonstrates there are no missing records from the data.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52353 entries, 0 to 52352
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   auction           52353 non-null  object
 1   timestamp         52353 non-null  object
 2   price_eur         52353 non-null  float64
 3   price_gbp         52353 non-null  float64
 4   ni_vols           52353 non-null  float64
 5   ni_netpos         52353 non-null  float64
 6   roi_vols          52353 non-null  float64
 7   roi_netpos        52353 non-null  float64
 8   DeliveryDate      52353 non-null  datetime64[ns]
 9   DeliveryHour      52353 non-null  int64
 10  DeliveryInterval  52353 non-null  int64
 11  semo_vols         52353 non-null  float64
 12  doy               52353 non-null  int64
 13  dow               52353 non-null  int64
 14  week              52353 non-null  int64
 15  dom               52353 non-null  int64
 16  Month             52353 non-null  datetime64[ns]
 17  year              52353 non-null  int64
dtypes: datetime64[ns](2), float64(7), int64(7), object(2)
memory usage: 7.2+ MB
None

In [6]:
#will replace missing values with zero anyway should updates to the data set ever have missing data. 
auctions_to.fillna(0)
# Print the shape of auctions_to
print(auctions_to.shape)

(52353, 18)

In [7]:
print(auctions_to.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52353 entries, 0 to 52352
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   auction           52353 non-null  object
 1   timestamp         52353 non-null  object
 2   price_eur         52353 non-null  float64
 3   price_gbp         52353 non-null  float64
 4   ni_vols           52353 non-null  float64
 5   ni_netpos         52353 non-null  float64
 6   roi_vols          52353 non-null  float64
 7   roi_netpos        52353 non-null  float64
 8   DeliveryDate      52353 non-null  datetime64[ns]
 9   DeliveryHour      52353 non-null  int64
 10  DeliveryInterval  52353 non-null  int64
 11  semo_vols         52353 non-null  float64
 12  doy               52353 non-null  int64
 13  dow               52353 non-null  int64
 14  week              52353 non-null  int64
 15  dom               52353 non-null  int64
 16  Month             52353 non-null  datetime64[ns]
 17  year              52353 non-null  int64
dtypes: datetime64[ns](2), float64(7), int64(7), object(2)
memory usage: 7.2+ MB
None

In [8]:
# Print a description of auctions_to
print(auctions_to.describe())

          price_eur     price_gbp       ni_vols     ni_netpos      roi_vols  \
count  52353.000000  52353.000000  52353.000000  52353.000000  52353.000000
mean     161.158974    136.889804    282.363679    -20.777915   1125.604544
std       92.747380     77.675571    393.189328    160.895198   1460.579309
min      -48.510000    -40.702000      0.000000   -937.100000      9.100000
25%       85.000000     73.380000     20.500000    -77.400000    175.600000
50%      147.000000    125.353000     98.900000      0.000000    436.100000
75%      219.000000    184.595000    269.800000     37.700000    951.900000
max      757.680000    683.826000   1682.700000    898.100000   5883.400000

         roi_netpos  DeliveryHour  DeliveryInterval     semo_vols  \
count  52353.000000  52353.000000      52353.000000  52353.000000
mean     -14.778129     14.830497          1.388841   1407.968223
std      322.161659      6.817432          0.487492   1843.727350
min    -1007.900000      1.000000          1.000000      9.300000
25%     -153.100000      9.000000          1.000000    212.300000
50%       -2.000000     16.000000          1.000000    553.000000
75%      145.900000     21.000000          2.000000   1120.100000
max     1083.600000     25.000000          2.000000   7442.600000

                doy           dow          week           dom          year
count  52353.000000  52353.000000  52353.000000  52353.000000  52353.000000
mean     152.659867      3.011403     22.235631     15.666036   2021.247493
std      107.051443      2.002492     15.295382      8.770589      0.431560
min        1.000000      0.000000      1.000000      1.000000   2021.000000
25%       61.000000      1.000000      9.000000      8.000000   2021.000000
50%      123.000000      3.000000     18.000000     16.000000   2021.000000
75%      244.000000      5.000000     35.000000     23.000000   2021.000000
max      365.000000      6.000000     53.000000     31.000000   2022.000000

In [9]:
auction_type = auctions_to.drop_duplicates(subset = "auction") #check how many unique auction types there are and count 
auction_count = auction_type["auction"].value_counts(sort = True)
print(auction_count)

DAM     1
IDA3    1
IDA2    1
IDA1    1
Name: auction, dtype: int64

In [85]:
#calculate average price of energy in all auctions 
price_auctions_all = round(auctions_to["price_eur"].mean(),2)
print(price_auctions_all)

#calculate average price of energy in the DAM auction
price_auction_DAM = round(auctions_to[auctions_to["auction"] == "DAM"]["price_eur"].mean(),2)
print(price_auction_DAM)

#calculate average price of energy in the DAM auction
price_auction_IDA1 = round(auctions_to[auctions_to["auction"] == "IDA1"]["price_eur"].mean(),2)
print(price_auction_IDA1)

#calculate average price of energy in the DAM auction
price_auction_IDA2 = round(auctions_to[auctions_to["auction"] == "IDA2"]["price_eur"].mean(),2)
print(price_auction_IDA2)

#calculate average price of energy in the DAM auction
price_auction_IDA3 = round(auctions_to[auctions_to["auction"] == "IDA3"]["price_eur"].mean(),2)
print(price_auction_IDA3)

161.16
157.62
155.25
169.97
174.28

In [98]:
#calculate total volume of energy in all auctions 
volume_auctions_all = auctions_to["semo_vols"].sum()
print(round(volume_auctions_all, 2))

#calculate total volume of energy in the DAM auction
volume_auction_DAM = round(auctions_to[auctions_to["auction"] == "DAM"]["semo_vols"].sum(),2)
print(volume_auction_DAM)

#calculate total volume of energy in the DAM auction
volume_auction_IDA1 = round(auctions_to[auctions_to["auction"] == "IDA1"]["semo_vols"].sum(),2)
print(volume_auction_IDA1)

#calculate total volume of energy in the DAM auction
volume_auction_IDA2 = round(auctions_to[auctions_to["auction"] == "IDA2"]["semo_vols"].sum(),2)
print(volume_auction_IDA2)

#calculate total volume of energy in the DAM auction
volume_auction_IDA3 = round(auctions_to[auctions_to["auction"] == "IDA3"]["semo_vols"].sum(),2)
print(volume_auction_IDA3)

73711360.4
55085899.6
15602986.0
2281826.9
740647.9

In [99]:
total_volume_by_auction = [volume_auction_DAM, volume_auction_IDA1, volume_auction_IDA2, volume_auction_IDA3] / volume_auctions_all
print(np.around(total_volume_by_auction, 2))

[0.75 0.21 0.03 0.01]

In [100]:
auction_proportions = pd.DataFrame(np.around(total_volume_by_auction, 2))

In [101]:
dict = {
    "Average Price":[price_auction_DAM, price_auction_IDA1, price_auction_IDA2, price_auction_IDA3],
    "Volume Traded":[volume_auction_DAM, volume_auction_IDA1, volume_auction_IDA2, volume_auction_IDA3]
}

In [102]:
auction_compare = pd.DataFrame(dict)
auction_compare.index = ["DAM", "IDA1", "IDA2", "IDA3"]
auction_compare

      Average Price  Volume Traded
DAM          157.62     55085899.6
IDA1         155.25     15602986.0
IDA2         169.97      2281826.9
IDA3         174.28       740647.9

In [103]:
#print label and capital only together 

for lab,row in auction_compare.iterrows() : 
    print("The " + lab + " Average Price is €" + str(row["Average Price"]) + " and the total traded volume is " + str(row["Volume Traded"]) + "MWh")

The DAM Average Price is €157.62 and the total traded volume is 55085899.6MWh
The IDA1 Average Price is €155.25 and the total traded volume is 15602986.0MWh
The IDA2 Average Price is €169.97 and the total traded volume is 2281826.9MWh
The IDA3 Average Price is €174.28 and the total traded volume is 740647.9MWh

In [104]:
auction_proportions = pd.DataFrame(np.around(total_volume_by_auction, 2))
auction_proportions.index = ["DAM", "IDA1", "IDA2", "IDA3"]
print(auction_proportions)

         0
DAM   0.75
IDA1  0.21
IDA2  0.03
IDA3  0.01

In [69]:
auction_type = np.array(["DAM", "IDA1", "IDA2", "IDA3"])
compare_proportion = np.array([auction_type, np.around(total_volume_by_auction, 2)])


for val in compare_proportion : 
    print(val)

['DAM' 'IDA1' 'IDA2' 'IDA3']
['0.75' '0.21' '0.03' '0.01']