In [55]:
#import required packages 
import pandas as pd 
import matplotlib.pyplot as plt 


rawdata = pd.ExcelFile('C:/Users/David/Desktop/UCD/Assignment/Data/Lookback2_mkt.xlsx') #import data from .xlsx
auctions_to = pd.read_excel(rawdata, 'auctions_to')#create a pandas data frame from specific sheet within .xlsx file

In [20]:
print(auctions_to.head()) #check the data format

  auction             timestamp  price_eur  price_gbp  ni_vols  ni_netpos  \
0     DAM  2020-12-31T23:00:00Z      55.09     49.595    739.2     -126.3
1     DAM  2021-01-01T00:00:00Z      54.02     48.632    730.7     -150.2
2     DAM  2021-01-01T01:00:00Z      53.00     47.713    752.6     -180.1
3     DAM  2021-01-01T02:00:00Z      51.24     46.129    704.9     -184.2
4     DAM  2021-01-01T03:00:00Z      48.13     43.329    665.3     -154.6

   roi_vols  roi_netpos DeliveryDate  DeliveryHour  DeliveryInterval  \
0    3727.3       126.3   2021-01-01             1                 1
1    3501.8       150.2   2021-01-01             2                 1
2    3423.8       180.1   2021-01-01             3                 1
3    3189.3       184.2   2021-01-01             4                 1
4    2990.3       154.6   2021-01-01             5                 1

   semo_vols  doy  dow  week  dom      Month  year
0     4466.5    1    5     1    1 2021-01-01  2021
1     4232.5    1    5     1    1 2021-01-01  2021
2     4176.4    1    5     1    1 2021-01-01  2021
3     3894.2    1    5     1    1 2021-01-01  2021
4     3655.6    1    5     1    1 2021-01-01  2021

In [37]:
# Print the shape of auctions_to
print(auctions_to.shape)

(52353, 18)

In [38]:
# Print information about auctions_to
print(auctions_to.info()) # non-null count demonstrates there are no missing records from the data.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52353 entries, 0 to 52352
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   auction           52353 non-null  object
 1   timestamp         52353 non-null  object
 2   price_eur         52353 non-null  float64
 3   price_gbp         52353 non-null  float64
 4   ni_vols           52353 non-null  float64
 5   ni_netpos         52353 non-null  float64
 6   roi_vols          52353 non-null  float64
 7   roi_netpos        52353 non-null  float64
 8   DeliveryDate      52353 non-null  datetime64[ns]
 9   DeliveryHour      52353 non-null  int64
 10  DeliveryInterval  52353 non-null  int64
 11  semo_vols         52353 non-null  float64
 12  doy               52353 non-null  int64
 13  dow               52353 non-null  int64
 14  week              52353 non-null  int64
 15  dom               52353 non-null  int64
 16  Month             52353 non-null  datetime64[ns]
 17  year              52353 non-null  int64
dtypes: datetime64[ns](2), float64(7), int64(7), object(2)
memory usage: 7.2+ MB
None

In [39]:
#will replace missing values with zero anyway should updates to the data set ever have missing data. 
auctions_to.fillna(0)
# Print the shape of auctions_to
print(auctions_to.shape)

(52353, 18)

In [40]:
print(auctions_to.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52353 entries, 0 to 52352
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   auction           52353 non-null  object
 1   timestamp         52353 non-null  object
 2   price_eur         52353 non-null  float64
 3   price_gbp         52353 non-null  float64
 4   ni_vols           52353 non-null  float64
 5   ni_netpos         52353 non-null  float64
 6   roi_vols          52353 non-null  float64
 7   roi_netpos        52353 non-null  float64
 8   DeliveryDate      52353 non-null  datetime64[ns]
 9   DeliveryHour      52353 non-null  int64
 10  DeliveryInterval  52353 non-null  int64
 11  semo_vols         52353 non-null  float64
 12  doy               52353 non-null  int64
 13  dow               52353 non-null  int64
 14  week              52353 non-null  int64
 15  dom               52353 non-null  int64
 16  Month             52353 non-null  datetime64[ns]
 17  year              52353 non-null  int64
dtypes: datetime64[ns](2), float64(7), int64(7), object(2)
memory usage: 7.2+ MB
None

In [11]:
# Print a description of auctions_to
print(auctions_to.describe())

          price_eur     price_gbp       ni_vols     ni_netpos      roi_vols  \
count  52353.000000  52353.000000  52353.000000  52353.000000  52353.000000
mean     161.158974    136.889804    282.363679    -20.777915   1125.604544
std       92.747380     77.675571    393.189328    160.895198   1460.579309
min      -48.510000    -40.702000      0.000000   -937.100000      9.100000
25%       85.000000     73.380000     20.500000    -77.400000    175.600000
50%      147.000000    125.353000     98.900000      0.000000    436.100000
75%      219.000000    184.595000    269.800000     37.700000    951.900000
max      757.680000    683.826000   1682.700000    898.100000   5883.400000

         roi_netpos  DeliveryHour  DeliveryInterval     semo_vols  \
count  52353.000000  52353.000000      52353.000000  52353.000000
mean     -14.778129     14.830497          1.388841   1407.968223
std      322.161659      6.817432          0.487492   1843.727350
min    -1007.900000      1.000000          1.000000      9.300000
25%     -153.100000      9.000000          1.000000    212.300000
50%       -2.000000     16.000000          1.000000    553.000000
75%      145.900000     21.000000          2.000000   1120.100000
max     1083.600000     25.000000          2.000000   7442.600000

                doy           dow          week           dom          year
count  52353.000000  52353.000000  52353.000000  52353.000000  52353.000000
mean     152.659867      3.011403     22.235631     15.666036   2021.247493
std      107.051443      2.002492     15.295382      8.770589      0.431560
min        1.000000      0.000000      1.000000      1.000000   2021.000000
25%       61.000000      1.000000      9.000000      8.000000   2021.000000
50%      123.000000      3.000000     18.000000     16.000000   2021.000000
75%      244.000000      5.000000     35.000000     23.000000   2021.000000
max      365.000000      6.000000     53.000000     31.000000   2022.000000

In [41]:
auction_type = auctions_to.drop_duplicates(subset = "auction") #check how many unique auction types there are and count 
auction_count = auction_type["auction"].value_counts()
print(auction_count)

IDA1    1
IDA3    1
IDA2    1
DAM     1
Name: auction, dtype: int64

In [31]:
all_auction_count = auctions_to["auction"].value_counts() #check how many times each auction occurs in the data frame 
print(all_auction_count)

IDA1    23278
DAM     11639
IDA2    11616
IDA3     5820
Name: auction, dtype: int64

In [43]:
delivery_hour_type = auctions_to.drop_duplicates(subset = "DeliveryHour")
delivery_hour_count = delivery_hour_type["DeliveryHour"].value_counts()
print(delivery_hour_count)

1     1
14    1
24    1
23    1
22    1
21    1
20    1
19    1
18    1
17    1
16    1
15    1
13    1
2     1
12    1
11    1
10    1
9     1
8     1
7     1
6     1
5     1
4     1
3     1
25    1
Name: DeliveryHour, dtype: int64

In [64]:
delivery_hour_type = auctions_to.drop_duplicates(subset = ["DeliveryHour" , "DeliveryInterval","auction"])
delivery_hour_count = delivery_hour_type[ "auction"].value_counts()
print(delivery_hour_count)

IDA1    50
IDA2    28
DAM     25
IDA3    16
Name: auction, dtype: int64